{% extends "dashboard.html" %}

{% block content %}
    <div class="w-1/2 mx-auto">
        <div>
            {% if messages %}
                {% for message in messages %}
                    <div class="px-2 py-1 {% if message.tags == 'success' %} bg-gray-200 text-green-600 font-bold {% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            {{participant_form}}
            <button type="submit" class="bg-blue-700 text-white rounded-lg font-semibold p-3 mt-6">ADD</button>
        </form>
    </div>

    <div class="mt-5">
        <h1 class="text-orange-600 font-bold text-xl ml-2">ALL participant List</h1>
        <div class="mt-6 overflow-x-auto mx-6">
            <table class="min-w-full bg-white border border-gray-200">
              <thead>
                <tr class="bg-gray-100">
                  <th class="py-3 px-4 border-b text-left">Name</th>
                  <th class="py-3 px-4 border-b text-left">Email</th>
                  <th class="py-3 px-4 border-b text-left">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for participant in participants %}
                <tr class="hover:bg-gray-50">
                  <td class="py-3 px-4 border-b border-gray-200">{{participant.name }}</td>
                  <td class="py-3 px-4 border-b border-gray-200">{{participant.email}}</td>
                  <td class="py-3 px-4 border-b border-gray-200">
                    <a href="{% url 'update-participant' participant.id %}" class="text-blue-500">Edit</a> |
                    <form action="{% url 'delete-participant' participant.id %}" method="POST">
                      {% csrf_token %}
                      <button type="submit" class=" text-red-500">
                        Delete
                      </button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
    </div>

{% endblock %}