{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  </head>
  <body>
    <div class="grid grid-cols-12 h-screen">
      <div class="col-span-4 bg-gray-800 text-white p-6 overflow-y-auto ">
        <h2 class="text-xl font-bold text-center mb-3">Admin Panel</h2>
        <hr class="my-4 border-[#ff5e0d]" />

        <ul class="space-y-4 mt-4">
                 <li>
                                    <a
                                      href="{% url 'admin-home' %}"
                                      class="w-full text-left p-2 hover:bg-gray-700 rounded block {% if section == 'admin_home' %}bg-gray-700{% endif %}"
                                    >
                                      Admin Home
                                    </a>
                                  </li>
          <li>
            <a
              href="{% url 'create-event' %}"
              class="w-full text-left p-2 hover:bg-gray-700 rounded block {% if section == 'create_event' %}bg-gray-700{% endif %}"
            >
              Add Event
            </a>
          </li>

          <li>
            <a
              href="{% url 'create-category' %}"
              class="w-full text-left p-2 hover:bg-gray-700 rounded block {% if section == 'create_category' %}bg-gray-700{% endif %}"
            >
              Add Category
            </a>
          </li>
          <li>
                  <a
                    href="{% url 'create-participant' %}"
                    class="w-full text-left p-2 hover:bg-gray-700 rounded block {% if section == 'create_participant' %}bg-gray-700{% endif %}"
                  >
                    Add Participant
                  </a>
                </li>
                <li>
                  <a
                    href="{% url 'home_page' %}"
                    class="w-full text-left p-2 hover:bg-gray-700 rounded block {% if section == 'create_participant' %}bg-gray-700{% endif %}"
                  >
                    Home Page
                  </a>
                </li>
        </ul>
      </div> 
      <div class="col-span-8 overflow-y-auto ">
        {% block content %} {% endblock %}    
      </div>
     
    </div>

     
  </body>
</html>
