<!DOCTYPE html>
<html lang="en">
<head>
                  <meta charset="UTF-8">
                  <meta name="viewport" content="width=device-width, initial-scale=1.0">
                  <title>Document</title>
</head>
<body>
              <div class="flex justify-around  py-4 mt-2 bg-gradient-to-r from-[#ff5e0d] to-[#ffac2a]">
                 <h1>Glam.com</h1>
                 <div class="flex space-x-4">
                   <p>Contact Us</p>
                   <p>About Us</p>
                   <p>Privacy Policy</p>
                 </div>
              </div>   
</body>
</html>